body{
  font-size: 16px;
  background-color: #DF0179;
  font-family: 'Titillium Web', sans-serif;
  color: black;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 a
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(200,200,200,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(200,200,200,0.4); 
}


/** HEADER **/
#header-nav {
  background-color: #F93434;
  border-radius: 0;
  border: 0;
  box-shadow: 0 0 10px black;
}
.navbar-brand p{
  color: black;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.4em;
  }
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #360000;
  text-align: center;
  text-shadow: 2px 2px #DF0179;
}
#nav-list a:hover {
  background: #DF0179;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: black;
}
.navbar-default .navbar-toggle:hover {
    background-color: #DF0179;
}
/** END HEADER **/

/** MAIN CONTENT **/
h1 {
  font-size: 32px;
}
h2{
  font-size: 3em;
}
h3, h4, h5{
  position: relative;
  text-align: center;
  font-size: 2em;
  margin: 30%;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 1px solid black;
  border-top: none;
  background-color: #DF0179; 
}
section{
  box-shadow: 0 0 50px black;
  color: white;
  text-shadow: 1px 1px black;
  position: relative;
  margin: 20px;
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 10px;
  padding-top: 0px;
  text-align: left;
  height: 800px;
  overflow: hidden;
}
/*class and id specifications for font,positioning, etc*/
#main-content{
  background-color: #F4B5FF;
  box-shadow: 0 0 50px black;
  border: 1px solid black;
}
.sectionTitle{
  color: black;
}
#section1 {
  background-color: #FF0000;
}
#section2 {
  background-color: #C40000;
}
#section3 {
  background-color: #910000;
}

.container-fluid .row div section p{
  padding: 10px;
}
.container-fluid .row div a{
  color: #3800A2;
  padding-bottom: 10px;
  margin: 20px;
  margin-top: 0;
  font-family: Helvetica;
}
.container-fluid .row div a:hover, .container-fluid .row div a:focus{
  color: black;
}
/** END MAIN CONTENT**/

/********** Large devices only **********/
@media (min-width: 1200px) {
  .navbar-default .navbar-nav li a{
  visibility: hidden;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-default .navbar-nav li a{
  visibility: hidden;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-default .navbar-nav li a{
  visibility: hidden;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .navbar-default .navbar-nav li a{
  visibility: visible;
  }
}